  .topnav {
      float: right;
      text-decoration: none;
      width:300px;
    }
    p {
      float: left;
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
    }
    .div1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-650%, +5%);
      text-size-adjust: 30px;
    }
    .div2{   
 
    float:left;   
    }
    .div4{
      text-decoration: none;
   font-size: 16px;
   border: none;
   padding: 3px;
    dispaly: inline-block;
    border-radius:8px;
    
    }
    body {
       background-image: url();
      background-cover: cover;
      
     }
     img {  
      position: absolute;
      top: 50%; 
      right: 50%;
      width: 200px;
      height: 300px;
      transform: translate(+300%, -5% );
      float: right;
      
      filter: blur(10px);
     -webkit-filter: blur(10px); 
     border: 3px solid burlywood;    
     } 
     img:hover{
     opacity: 1;
     filter: none;
     border: 3px solid burlywood;
     
     }
     .sticky {
     position: fixed;
      top: 0;
      width: 200px;
      opacity: 100%;
      overflow: hidden;
      float: right;
     }
     .sticky  {
     width: 200px;
      border: auto;
      border-radius: 8px;
      opacity: 100%;
      float:center;
     }
     .dropbtn{     
      color: rgb(9, 102, 9);
      width: auto;
      height: auto;
     text-decoration: none;
      font-size: 16px;
      border-radius: 6px;
      padding:3px;
     border: auto;
     opacity:100%; 
     float: right;    
     }
     center{
     float:left;
     }     
     .dropbtn:hover{
     color: gray;
     }
     #navbar {
      overflow: hidden;
     background-color: rgb(163, 163, 219);
     opacity:100%;
     }
     input[type=text] {
  width: 130px;
  box-sizing: content-box;
  border: 2px solid rgba(red, green, blue, alpha);
  border-radius: 8px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  background-image: url('searchicon.png');
  align-self: center;
  background-position: 10px 1px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width:50%;

}